body{
    margin: 0;
    padding: 0;
}

.box{
    border: 1px solid black;
    width: 1000px;
    height: 100px;
    text-align: center;
    margin: 0vh 1vw 0vh 1 vw;
    color: #000;
}

@media screen and (max-width:999px) and (min-width:400px){
    .box{
        max-width: 98vw;
        margin: 0vh 1vw 0vh 1 vw;
        color: red;
    }
}

@media screen and (max-width:400px){
    .box{
        max-width: 300px;
        margin: 0;
        color: purple;
    }
}